<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 名称空间 指定为接口的全类名，将接口与配置文件动态绑定-->
<mapper namespace="com.atguigu.mybatis.dao.EmployeeMapper">

    <!--  id:唯一标识
    resultType:返回值类型（封装成XXX类型对象）
    #{id}：从传递过来的参数中取出id值
     -->
    <select id="selectEmp" resultType="com.atguigu.mybatis.bean.Employee">
        select * from tbl_employee where id = #{id}
    </select>


    <!--  通过别名方式 将查询的Employee中的lastName与数据库中的last_name相对应  -->
    <select id="selectEmpNickName" resultType="com.atguigu.mybatis.bean.Employee">
        select id,last_name lastName, email,gender from tbl_employee where id=#{id}
    </select>

    <!-- 将select标签中的id设置为接口中的方法的名字 将方法与select语句绑定 -->
    <select id="getEmpById" resultType="com.atguigu.mybatis.bean.Employee">
        select * from tbl_employee where id = #{id}
    </select>
</mapper>